<div id="login-box">
  <div class="left fortext">
    <h1>Register yourself here</h1>
    
    <input type="text" placeholder="Mobileno"  name="mobileno" required>
    <input type="text" placeholder="Currentaddress"  name="current address" required>
    <br>
    <h5>Type Of Vehical</h5>
    <input  type="radio"  name="exampleRadios" id="exampleRadios1" value="a" checked>
      <label  for="exampleRadios1" style="padding-left: 8px;" >
       6 SEATER CAR
       </label><br>
       <input  type="radio" name="exampleRadios" id="exampleRadios2" value="b">
       <label  for="exampleRadios2"  style="padding-left: 8px;">
        4 SEATER CAR
        </label>
        <br>
       <input type="radio" name="exampleRadios" id="exampleRadios3" value="c">
        <label  for="exampleRadios3"  style="padding-left: 8px;">
        BIKE
        </label>
          <div class="form-group row" style="margin-top: 28px;">
            <label for="exampleFormControlFile1" class="col-sm-4  col-from-lable">Picture of vehical</label>
            <input type="file" class=" col-sm-4 ml-5 form-control-file" id="exampleFormControlFile1">
          </div>
       <button routerLink="/after">Submit</button>
       <button routerLink="/after">Cancle</button>

  </div>
  
  <div class="right">
    
  </div>
  
</div>











