<p>login works!</p>
<form action="" method="post" class="login-box">
    <h3 style="margin:20px 0">Drive Your Car</h3>
    <div class="textbox">
      <i class="fa fa-address-book"><input type="text" name="Number" placeholder="Contact Number" required></i>
    </div>
    <div class="textbox">
      <i class="fa fa-envelope"><input type="email" name="email" placeholder="Email" required></i>
    </div>

    
      <input type="submit"  class="btn1 btn-primary" name="" style="font-size:15px;  " value="Login" required>
      <input type="" class="btn1 btn-danger" name="" style="font-size:15px;margin-left:20px;  " value="Cancel">
      
    
  </form>