<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button>

 
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog ">
    <div class="modal-content">
      <div class="modal-body">
        <div class="form">
          <div class="tab-header">
            <div class="active">Sign Up</div>
            <div>Sign In</div>
          </div>
          <div class="tab-content">
            <div class="tab-body active">
              <div class="form-element">
               <i class="fa fa-user fa-2x cust" aria-hidden="true" ></i> 
               <input  type="text" name="fname" placeholder="First & Last Name" required  style="padding-left: 38px;">
              </div>
              <div class="form-element">
                <i class="fa fa-envelope fa-2x cust" aria-hidden="true" ></i>
                <input input type="email" name="email" placeholder="Email" required style="padding-left: 38px;">
              </div>
              <div class="form-element">
                <i class="fa fa-lock fa-2x cust" aria-hidden="true" ></i>
                <input  type="password" name="password" placeholder="Password" required style="padding-left: 38px;">
              </div>
              <div class="form-element">
                <i class="fa fa-address-book fa-2x cust" aria-hidden="true" ></i>
                <input type="text" name="Number" placeholder="Contact Number" required style="padding-left: 38px;">
              </div>
              <div class="form-element">
                <button type="submit"  style="width: 48%; margin-right: 14px; border: 2px solid rgb(250, 201, 231); background-color:rgb(54, 0, 50);" value="Signin">Sign Up</button>
              <button type="button"  style="color: rgb(252, 252, 252); border: 2px solid rgb(250, 201, 231); width: 48%;  background-color:rgb(54, 0, 50); " data-dismiss="modal">Cancle</button>
              </div>
            </div>
            
            <div class="tab-body">
              <div class="form-element">
                <i class="fa fa-envelope fa-2x cust" aria-hidden="true" ></i>
                <input input type="email" name="email" placeholder="Email / username" required style="padding-left: 38px;">
              </div>
              <div class="form-element">
                <i class="fa fa-lock fa-2x cust" aria-hidden="true" ></i>
                <input  type="password" name="password" placeholder="Password" required style="padding-left: 38px;">
                
              </div>
              <div class="form-element">
                <input type="checkbox" id="remember_me">
                <label for="remember_me" style="color:white ;">Remember me</label>
              </div>
              <div class="form-element">
                <button type="submit"  style="width: 48%; margin-right: 14px; border: 2px solid rgb(250, 201, 231); background-color:rgb(54, 0, 50);" value="Signin">Sign In</button>
              <button type="button" style="color: rgb(252, 252, 252); border: 2px solid rgb(250, 201, 231); width: 48%;  background-color:rgb(54, 0, 50); " data-dismiss="modal">Cancle</button>
              </div>
              
        
            </div>
          </div>

          </div>
              
     </div>
     
    </div>
  </div>
</div>