<nav class="navbar  navbar-expand-sm " style="background-color: rgba(235, 234, 232, 0.466); height: 40px;"  >
    <button class="navbar-toggler"  type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span   class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
      <ul class="nav navbar-nav mr-auto">
        <span class="navbar-text  dot " style="color:rgb(250, 246, 246); ">
          <a>SHARE</a>
         </span>
        <li class="nav-item" >
            <a  class="hoverable12 nav-link" style="color:rgb(4, 129, 245);"><span class="fa fa-facebook "></span></a>
          </li>
        <li class="nav-item" >
          <a  class="hoverable12 nav-link " style="color:rgb(245, 105, 175);"><span class="fa fa-instagram "></span></a>
        </li><li class="nav-item" >
          <a  class="hoverable12 nav-link " style="color:rgb(105, 217, 245);"><span class="fa fa-twitter "></span></a>
        </li>
        <li class="nav-item">
          <a   class="hoverable12 nav-link" style="color:rgb(8, 179, 45);"><span class="fa fa-whatsapp "></span></a>
        </li>
        <li class="nav-item" >
          <a    class="hoverable12 nav-link" style="color:rgb(36, 35, 35);"><span class="fa fa-github "></span></a>
        </li>
      </ul> 
     </div>
  </nav> 
  <nav class="navbar  navbar-expand-sm  fixed sticky-top"  >
      <button class="navbar-toggler"  type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span  class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <h4  style=" margin-top: 8px; margin-bottom: 8px; margin-left: 6px; font-weight:bolder; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;" routerLink="/home">DRIVE YOUE CAR</h4>
         <ul class="nav navbar-nav ml-auto">
          <li class="nav-item" >
              <a  id="#1"  (mouseover)="changetext()" (mouseout)="dt()" class="hoverable12 nav-link" style="color:whitesmoke;"><span class="fa fa-home "></span></a>
            </li>
          <li class="nav-item" >
            <a   id="#2"  (mouseover)="changetext2()" (mouseout)="dt2()" class="hoverable12 nav-link " style="color:whitesmoke;"><span class="fa fa-info "></span></a>
          </li>
          
          <li class="nav-item">
            <a  id="#3"  (mouseover)="changetext3()" (mouseout)="dt3()" routerLink="/contact"   class="hoverable12 nav-link" style="color:whitesmoke;"><span class="fa fa-phone "></span></a>
          </li>
          <li class="nav-item" >
            <a  id="#5"  (mouseover)="changetext5()" (mouseout)="dt5()"   class="hoverable12 nav-link" style="color:whitesmoke;"><span class="fa fa-user-plus "></span></a>
          </li>
          <li class="nav-item" style="padding-left:95px ; ">
              <a  id="#4"   (mouseover)="changetext4()" (mouseout)="dt4()" class="hoverable12 nav-link"  style="color:whitesmoke;"><span class="fa fa-user-circle-o "></span></a>
            </li>
            <li class="nav-item" style=" padding-right: 30px;">
                <a  id="#6"  (mouseover)="changetext6()" (mouseout)="dt6()" class="hoverable12 nav-link"  style="color:whitesmoke;"><span class="fa fa-power-off "></span></a>
              </li>
        </ul> 
       
       </div>
    </nav> 

    <header class="jumbotron image">
    
        <div class="container">
            <div class="row row-header " style="padding-left: 40px; padding-top: 27px; opacity: .7; color: black; font-weight:bolder">
                <div class="col-12 col-sm-3">
                    <div class="card" style="width: 12rem; height: 10rem; text-align: center; border:1px solid black;">
                        <div class="card-body">
                          <h5 class="card-title">STEP 1</h5>
                          <h1 class="fa fa-check"></h1>
                          <p class="card-text">BOOK</p>
                          
                          
                        </div>
                      </div>
                </div>
                <div class="col-12 col-sm-3">
                    <div class="card" style="width: 12rem; height: 10rem; text-align: center; border:1px solid black;">
                        <div class="card-body">
                          <h5 class="card-title">STEP 2</h5>
                            <h1 class=" fa fa-lock"></h1>
                          <p class="card-text">UNLOCK</p>
                          
                          
                        </div>
                      </div>
                </div>
                <div class="col-12 col-sm-3">
                    <div class="card" style="width: 12rem; height: 10rem; text-align: center; border:1px solid black;">
                        <div class="card-body">
                          <h5 class="card-title">STEP 3</h5>
                          <h1 class="fa fa-car"></h1>
                          <p class="card-text">DRIVE YOUR CAR</p>
                          
                          
                        </div>
                      </div>
                </div>
                <div class="col-12 col-sm-3">
                    <div class="card" style="width: 12rem; height: 10rem; text-align: center; border:1px solid black;">
                        <div class="card-body">
                          <h5 class="card-title">STEP 4</h5>
                          <h1 class="fa fa-arrow-left"></h1>
                          <p class="card-text">RETURN</p>
                         
                          
                        </div>
                      </div>
                </div>
              
               
            </div>
        </div>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav aria-label="breadcrumb"  style=" background-color: orangered; ">
                    <ol class="breadcrumb">
                      <h4 class="breadcrumb-item active" style="color: orangered; padding-left: 400px;  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;" aria-current="page">POPULAR QUERIES</h4>
                    </ol>
                  </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="accordion" id="accordionExample">
                    <div class="card">
                      <div class="card-header" id="headingOne">
                        <h2 class="mb-0">
                          <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Do I have to return the car to the same location where I picked it up?
                          </button>
                        </h2>
                      </div>
                  
                      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div class="card-body">
                            Yes. You must bring the vehicle back to the same place you picked it up before the end of your reservation. If you dropoff the car at a location different from your pickup point, you will be charged INR 2,000, and the full hourly rate and late fees until the vehicle is returned to the correct location.
                        </div>
                      </div>
                    </div>
                    <div class="card">
                      <div class="card-header" id="headingTwo">
                        <h2 class="mb-0">
                          <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            What happens if I return the car late?
                          </button>
                        </h2>
                      </div>
                      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                        <div class="card-body">
                            a) A standard hourly fee will be applicable per hour of delay. b) Free KMs will be given per hour as per your booked package. c) In addition to the standard hourly fee, every hour of delay would be charged at Rs. 300/hour, 
                        </div>
                      </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingThree">
                          <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                How do I find my car?
                            </button>
                          </h2>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                          <div class="card-body">
                            It’s simple to find the vehicle. We will share the exact vehicle location 30 minutes prior to your booking start time through an SMS on your registered contact number. Use this navigation to reach your vehicle
                          </div>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card-header" id="headingfour">
                          <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapsefour" aria-expanded="false" aria-controls="collapsefour">
                                What are excess KMs charges?

                            </button>
                          </h2>
                        </div>
                        <div id="collapsefour" class="collapse" aria-labelledby="headinggour" data-parent="#accordionExample">
                          <div class="card-body">
                            Every booking comes with a KM package which is already included in the booking fee however exceeding the free KMs would result in extra fee as per the selected vehicle. 
                          </div>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card-header" id="headingfive">
                          <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapsefive" aria-expanded="false" aria-controls="collapsefive">
                                Is Home Delivery available for Emergency Bookings?

                            </button>
                          </h2>
                        </div>
                        <div id="collapsefive" class="collapse" aria-labelledby="headingfive" data-parent="#accordionExample">
                          <div class="card-body">
                            Home Delivery is subjected to the situation in the respective cities.
                          </div>
                        </div>
                      </div>
                    <div class="card">
                      <div class="card-header" id="headingThree1">
                        <h2 class="mb-0">
                          <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree1" aria-expanded="false" aria-controls="collapseThree1">
                            Is there a km limit to how much I can drive?
                          </button>
                        </h2>
                      </div>
                      <div id="collapseThree1" class="collapse" aria-labelledby="headingThree1" data-parent="#accordionExample">
                        <div class="card-body">
                            With reference to the km package which you select you are eligible to drive accordingly.For example, if you opt for 10 km/hr package then 5 hours reservation would come with 50 km in driving at no additional charge, while a 3 day reservation would come with 720 km in driving at no additional charges. There is a per-km charge for each km beyond that point. 
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
    </div>
    <div>
      <h3 style="margin-left: 37%; margin-top: 3%; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Send your query and feedback</h3>
      <div class="background">
        <div class="container container1">
          <div class="screen">
            <div class="screen-body">
              <div class="screen-body-item left">
                <div class="app-title">
                  <span>CONTACT</span>
                  <span>US</span>
                </div>
                <div class="app-contact">CONTACT INFO : +91 9926445862</div>
              </div>
              <div class="screen-body-item">
                <div class="app-form">
                  <div class="app-form-group">
                    <input class="app-form-control" placeholder="NAME" >
                  </div>
                  <div class="app-form-group">
                    <input class="app-form-control" placeholder="EMAIL">
                  </div>
                  <div class="app-form-group">
                    <input class="app-form-control" placeholder="CONTACT NO">
                  </div>
                  <div class="app-form-group message">
                    <input class="app-form-control" placeholder="MESSAGE">
                  </div>
                  <div class="app-form-group buttons">
                    <button class="app-form-button">CANCEL</button>
                    <button class="app-form-button">SEND</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="credits">
            drive your 
            <a class="credits-link" href="" target="_blank">
              <svg class="dribbble" viewBox="0 0 200 200">
                <g stroke="#ffffff" fill="none">
                  <circle cx="100" cy="100" r="90" stroke-width="20"></circle>
                  <path d="M62.737004,13.7923523 C105.08055,51.0454853 135.018754,126.906957 141.768278,182.963345" stroke-width="20"></path>
                  <path d="M10.3787186,87.7261455 C41.7092324,90.9577894 125.850356,86.5317271 163.474536,38.7920951" stroke-width="20"></path>
                  <path d="M41.3611549,163.928627 C62.9207607,117.659048 137.020642,86.7137169 189.041451,107.858103" stroke-width="20"></path>
                </g>
              </svg>
              CAR
            </a>
          </div>
        </div>
      </div>
      
    </div>
    <div class="container" style="padding-bottom: 5px; color: black; margin-top: 2%;">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item active" aria-current="page"  style="padding-left: 38%; font-weight: bolder; color: black;">KEEP CALM AND DRIVE SAFELY!</li>
          <br>
          <p style="padding-left: 32%; font-weight: bolder; color: black;">-- THANKS FOR USING DRIVE YOUR CAR SERVICES --</p>
        </ol>
      </nav>
    </div>

   
    <footer class="footer-distributed" >

    <div class="footer-left">
  
      <h3>Drive Your <span>Car</span></h3>
  
      <p class="footer-links">
        <a href="#" class="link-1">Home</a>
        
        <a href="#">Register</a>
      
        <a href="#">Pricing</a>
      
        <a href="#">About</a>
        
        <a href="#">Contact</a>
      </p>
  
      <p class="footer-company-name">Drive Your Car © 2020</p>
    </div>
  
    <div class="footer-center">
  
      <div>
        <i class="fa fa-map-marker"></i>
        <p><span>Madhvan nagar Bheriya jadjad jablpur road sagar</span> Madhay Pradesh, India</p>
      </div>
  
      <div>
        <i class="fa fa-phone"></i>
        <p>9926449654</p>
      </div>
  
      <div>
        <i class="fa fa-envelope"></i>
        <p><a href="mailto:support@company.com">driveyourcar@gmail.com</a></p>
      </div>
  
    </div>
  
    <div class="footer-right">
  
      <p class="footer-company-about">
        <span>About Drive your car services</span>
        Drive your car provides car at rent in very low cost .our service is feasible for eveyone. our staring price is just only 75/- :)
      </p>
  
      <div class="footer-icons">
  
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-google-plus"></i></a>
        <a href="#"><i class="fa fa-envelope-o"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-github"></i></a>
  
      </div>
  
    </div>
  
  </footer>
  
  
