<body>
  <nav class="navbar navbar-dark navbar-expand-sm head fixed-top">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand"><img src="/assets/images/th (1).jpg" height="30" width="41" >Drive your car</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link"  routerLink="/home"><span class="fa fa-home fa-lg"></span>Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"><span class="fa fa-info fa-lg"></span>About</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              CarsLists
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link"><span class="fa fa-address-card fa-lg"></span>Contact</a>
          </li>
        </ul>
        <span class="navbar-text">
          <a><span class="fa fa-sign-in "></span> SignUp </a>
        </span>
        <span class="navbar-text ml-2">
          <a><span class="fa fa-sign-in"></span> Login</a>
  
      </span>
      </div>
    </nav>
    
    
     
      <form action="" method="post" class="login-box">
        <h3 style="margin:20px 0">Drive Your Car</h3>
        <div class="textbox">
          <i class="fa fa-user"><input type="text" name="fname" placeholder="First & Last Name" required></i>
        </div>
        <div class="textbox">
          <i class="fa fa-address-book"><input type="text" name="Number" placeholder="Contact Number" required></i>
        </div>
        <div class="textbox">
          <i class="fa fa-envelope"><input type="email" name="email" placeholder="Email" required></i>
        </div>
    
        <div class="textbox">
          <i class="fa fa-lock"><input type="password" name="password" placeholder="Password" required></i>
        </div>
        <div >
          <input type="submit" routerLink="/after" class="btn1 btn-primary" name="" style="font-size:15px;  " value="Login">
          <input type="" class="btn1 btn-danger" name="" style="font-size:15px;margin-left:20px;  " value="Cancel">
          <button type="" routerLink="/after" class="btn1 btn-primary" style="width:100%" name="button">SignUp</button>
        </div>
      </form>
     
    

</body>
