<body >
    <nav class="navbar navbar-dark navbar-expand-sm head fixed-top">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand"><img src="/assets/images/th (1).jpg" height="30" width="41" >Drive your car</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link"  routerLink="/home"><span class="fa fa-home fa-lg"></span>Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"><span class="fa fa-info fa-lg"></span>About</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              CarsLists
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link"><span class="fa fa-address-card fa-lg"></span>Contact</a>
          </li>
        </ul>
        <span class="navbar-text">
          <a routerLink="/signup"><span class="fa fa-sign-in "></span>SignUp </a>
        </span>
        <span class="navbar-text ml-2">
          <a><span class="fa fa-sign-in"></span> Login</a>
  
      </span>
      </div>
    </nav>
    <div class="backcolor">
      <header class="jumbotron image">
        <div class="container" > 
              <div class="row row-header  ">
                  <div class="col-12 col-sm-6">
                      <h3 class="serif font">DRIVE YOUR CAR <span  class="fa fa-car" aria-hidden="true"></span> ADVANTAGE</h3>
                      <p class="forbold">
                        We simplified car <span class="fa fa-car"></span> rentals, so you can focus on what's important to you.</p>
                  </div>
              </div>
          </div>
        </header>
          <div class="container ">
            <h2 class="text-center serif mb-4 text mt-5 ">THE DRIVE YOUR CAR FEATURES</h2>
            <div class="row  ">
              <div class="col-12 col-sm-6 col-lg-4 mt-5 mb-4">
                <div class="card mb-4 ml-3" style="width: 18rem;">
                  <h1 class="fa fa-rupee text-center car"></h1>
                  <div class="card-body">
                    <p class="card-text">Our prices include taxes and insurance.
                      What you see is what you really pay!.</p>
                  </div>
                </div>
              </div>
              <div class="col-12 col-sm-6 col-lg-4 mt-5">
                <div class="card ml-4" style="width: 18rem;">
                  <h1 class="fa fa-map-marker text-center car" aria-hidden="true"></h1>
                  <div class="card-body">
                    <p class="card-text">Our cars have all-India permits. Just remember to pay state tolls and entry taxes</p>
                  </div>
                </div>
              </div>
              <div class="col-12 col-sm-6 col-lg-4 mt-5">
                <div class="card ml-4" style="width: 18rem;">
                  <h1 class="fa fa-tint text-center car" aria-hidden="true"></h1>
                  <div class="card-body">
                    <p class="card-text">Don't worry about mileage! All fuel costs are included. If you refill fuel, we'll pay you back!.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        
    </div>
    <app-owner></app-owner>
  
   
  
  </body>
  
