
  <nav class="navbar navbar-default fixed sticky-top">
    <div class="container-fluid">
    <div class="navbar-header">
        <a style="margin-left: 550px; font-size: 18px; font-weight: bolder; font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Drive your car <i class="fa fa-car"></i></a>
    </div>
    </div>
</nav>

<nav class="navbar navbar-dark navbar-expand-sm head ">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" ><img src="/assets/images/blackcar.jpg" height="30" width="41" ></a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link"  routerLink="/home"><span class="fa fa-home fa-lg"></span>Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"><span class="fa fa-info fa-lg"></span>AboutUs</a>
        </li>
        <li class="nav-item active dropdown ">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-car"></i> Carlist
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Purches</a>
            <a class="dropdown-item" href="#">Car for rent</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">carlist</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link"><span class="fa fa-address-card fa-lg"></span>Contact</a>
        </li>
      </ul>
      <span class="navbar-text">
        <a ><i class="fa fa-sign-in " routerLink="/formsignup" style="margin-right: 5px;"></i> SignUp </a>
      </span>
      <span class="navbar-text">
        <a ><i class="fa fa-sign-in" style="padding-left: 2px;" ></i> Login</a>
      </span>
      
      
    </div>
  </nav>
  <div  class="backcolor">
    <header class="jumbotron image" >
        <div class="container " > 
              <div class="row row-header  ">
                  <div class="col-12 col-sm-6 " >
                      <h3 class="serif font"  style="text-shadow:2px 2px whitesmoke;">DRIVE YOUR CAR <span  class="fa fa-car" aria-hidden="true"></span>
                         ADVANTAGE</h3>
                      <h5 class="forbold serif"  style="text-shadow:1px 1px whitesmoke;">
                        We simplified car <span class="fa fa-car"></span> rentals, so you can focus on what's important to you.</h5>
                  </div>
              </div>
          </div>
          <div class="container1">
            <div class=" text-block">
                <p style="text-align: center; margin-top: 9px; font-size: 20px;">WHEREVER YOU GO, GO WITH ALL YOUR HEART! <i class="fa fa-heart heart"></i> AND GOOD CAR ALWAYS HELP WITH YOUR JOURNEY</p><br>
                <p style="text-align: center; margin-top: -20px; font-size: 18px">SOME DAYS, NOTHING BEATS A REALLY GOOD DRIVER</p>
              
            </div>
          </div>
        </header>
       
        <div class="container ">
            <h2 class="text-center serif mb-4 text" style="margin-top: 135px; font-weight:bolder ;">THE DRIVE YOUR CAR FEATURES</h2>
            <div class="row  ">
              <div class="col-12 col-sm-6 col-lg-4 mt-5 mb-4" style="margin-bottom: 25px;">
                <div class="card mb-4 ml-3" style="width: 18rem;">
                  <h1 class="fa fa-rupee text-center car"></h1>
                  <div class="card-body">
                    <p class="card-text">Our prices include taxes and insurance.
                      What you see is what you really pay!.</p>
                  </div>
                </div>
              </div>
              <div class="col-12 col-sm-6 col-lg-4 mt-5">
                <div class="card ml-4" style="width: 18rem;">
                  <h1 class="fa fa-map-marker text-center car" aria-hidden="true"></h1>
                  <div class="card-body">
                    <p class="card-text">Our cars have all-India permits. Just remember to pay state tolls and entry taxes</p>
                  </div>
                </div>
              </div>
              <div class="col-12 col-sm-6 col-lg-4 mt-5">
                <div class="card ml-4" style="width: 18rem;">
                  <h1 class="fa fa-tint text-center car" aria-hidden="true"></h1>
                  <div class="card-body">
                    <p class="card-text">Don't worry about mileage! All fuel costs are included. If you refill fuel, we'll pay you back!.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        
    </div>
    
  <div class="image1" >
    <div class="container" >
  <h2 class="c1 serif">HOW DRIVE YOUR CAR WORKS</h2>
  <H4 class="c2 serif" style="margin-bottom: 40px; margin-top: 10px;">  Drive yourself to an adventure and back in 4 simple steps</H4>
    <div class="row ">
      <div class="col ">
        <div id="mycarousel" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                <div class="fa fa-taxi forcar "></div>
                <div class="carousel-caption d-none d-md-block">
                    <h2>STEP 1 BOOK </h2>
                    <p>Search for and book a car on our site!</p>
                </div>
            </div>
            <div class="carousel-item">
              <div class="fa fa-unlock forcar" aria-hidden="true"></div>
              <div class="carousel-caption d-none d-md-block">
                <h2 >STEP 2 UNLOCK </h2>
                <p>We SMS your car details 20 minutes before pickup.</p>
            </div>
                    
            </div>
            <div class="carousel-item">
              <div class="fa fa-car forcar "></div>
              <div class="carousel-caption d-none d-md-block">
                <h2>STEP3 DRIVE YOUR CAR </h2>
                <p> Grab the keys from the location and drive.</p>
              </div>
            </div>
            <div class="carousel-item">
              <div class="forarrow"><svg width="1em" height="1em" viewBox="0 0 20 20" class="bi bi-arrow-return-left" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5z"/>
              </svg></div>
              <div class="carousel-caption d-none d-md-block">
                <h2 >STEP 4 RETURN </h2>
                <p>Return the car to the same location </p>
            </div>
                    
            </div>
        </div>
        <ol class="carousel-indicators">
          <li data-target="#mycarousel" data-slide-to="0" class="active"></li>
          <li data-target="#mycarousel" data-slide-to="1"></li>
          <li data-target="#mycarousel" data-slide-to="2"></li>
          <li data-target="#mycarousel" data-slide-to="3"></li>
      </ol>
        <a class="carousel-control-prev" href="#mycarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#mycarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon"></span>
      </a>
        </div>
      
      </div>
    </div>
  </div>
  </div>  
  <div class="container ">
    <h2 style="margin-top:40px; font-weight: bolder;" class="serif offset-5">Register for your Car </h2>
    <div class="row offset-4">
        <div class="col-12 col-sm-6 margin-top:15px">
            <div class="card card-center" style="width:400px">
                <img class="card-img-top" src="/assets/images/young-man-in-car-with-car-keys-xlarge.webp" alt="Card image">
                <div class="card-body">
                  <h4 class="card-title"> Register </h4>
                  <p class="card-text">For Registering on Drive Your Car you have to first Sign up</p><br>
                  <p>Click on Register button  </p>
                  <button routerLink="/after" class="btn btn-primary">Register</button>
                </div>
              </div>
        </div>
    </div>
</div>
  
  
    <footer class="footer" style="background-color:lightseagreen; margin-top: 25px;">
      <div class="container" >
          <div class="row ">             
              <div class="col-4 offset-1 col-sm-2">
                  <h5>Links</h5>
                  <ul class="list-unstyles">
                      <li><a routerLink="/home">Home</a></li>
                      <li><a href="#">AboutUs</a></li>
                      <li><a href="#">Contact</a></li>
                  </ul>
              </div>
              <div class="col-7 col-sm-5">
                  <h5>Our Address</h5>
                  <address>
                121, Clear Water Bay Road<br>
                Clear Water Bay, sagar<br>
                India<br>
                <i class="fa fa-phone fa-lg"></i>:6265617596<br>
                <i class="fa fa-fax fa-lg"></i>: 9968552364<br>
                <i class="fa fa-envelope fa-lg"></i>: <a href="sharmashambhavi12345@gmail.com">Driveyourcar@gami.com</a>
             </address>
              </div>
              <div class="col-12 col-sm-4 align-self-center">
                  <div class="text-center">
                      <a class="btn btn-social-icon btn-google" href="http://google.com/+"><i class="fa fa-google-plus"></i></a>
                      <a class="btn btn-social-icon btn-facebook" href="http://www.facebook.com/profile.php?id="><i class="fa fa-facebook"></i></a>
                      <a class="btn btn-social-icon btn-linkedin" href="http://www.linkedin.com/in/"><i class="fa fa-linkedin"></i></a>
                      <a class="btn btn-social-icon btn-twitter" href="http://twitter.com/"><i class="fa fa-twitter"></i></a>
                      <a class="btn btn-social-icon btn-google" href="http://youtube.com/"><i class="fa fa-youtube"></i></a>
                      <a class="btn btn-social-icon" href="mailto:"><i class="fa fa-envelope-o"></i></a>
                  </div>
                  
              </div>
         </div>
         <div class="row justify-content-center">             
              <div class="col-auto">
                  <p>© Copyright 2021 Drive Your Car</p>
              </div>
         </div>
      </div>
  </footer>
  
  
  
